.fieldPasswordContainer {
  display: block;
  position: relative;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
.fieldPasswordContainer input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  padding-right: 45px;
}
.passwordFieldIcon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 52%;
  transform: translateY(-50%);
  right: 15px;
}
